# ==============================
# macOS
# ==============================
.DS_Store

# ==============================
# Xcode
# ==============================
xcuserdata/
*.xcuserstate
DerivedData/

# ==============================
# Android / Gradle
# ==============================
.gradle/
build/
local.properties

# ==============================
# IntelliJ / Android Studio
# ==============================
.idea/
*.iml

# ==============================
# Flutter / Dart
# ==============================
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages

# Do not ignore pubspec.lock globally
# because example apps may intentionally commit it